/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #F1B2CE;
  --subtitle-text-color: #000028;
  --accent-color: #FF0070;
  --page-background-color: #000028;
  --title-text-color: #FF0070;
  --page-background-iamge: url("../images/cover-image-dark.png");
  --page-title-color: #DB00FF;
  --hover-color: #FF007066;
  --button-focus-color: #FF0070;
  --button-color: #FF0070;
  --link-focus-color: #F1B2CE;
  --decoration-element-color: #FF0070;
  --main-padding: 10px;
  --rec-display: block;
}
