/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-text-color: #353430;
  --subtitle-text-color: #353430;
  --accent-color: #FF8DCB;
  --page-background-color: #FFF1F7;
  --title-text-color: #353430;
  --page-background-iamge: url("../images/cover-image-light.png");
  --page-title-color: #FFC2E6;
  --hover-color: #32312D66;
  --button-focus-color: #353430;
  --button-color: #353430;
  --link-focus-color: #353430;
  --decoration-element-color: #353430;
  --main-padding: 10px;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --subtitle-text-color: #353430;
    --accent-color: #FF8DCB;
    --page-background-color: #FFF1F7;
    --title-text-color: #353430;
    --page-background-iamge: url("../images/cover-image-light.png");
    --page-title-color: #FFC2E6;
    --hover-color: #32312D66;
    --button-focus-color: #353430;
    --button-color: #353430;
    --link-focus-color: #353430;
    --decoration-element-color: #353430;
    --main-padding: 10px;
    --rec-display: none;  
    }
}
